<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Eat the Burger</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/assets/js/burger_client.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>