body {
	background-color: #F012BE;
	font-family: 'Patrick Hand', cursive;
	font-size: 22px;
	/*font-weight: bold;*/
}

.jumbotron, .well {
	background-color: yellow;
}

.jumbo-img {
	width: 200px;
	margin: auto;
}